@use "../abstracts/dir" as abs;

.overlayTitle {
  @include abs.background-cover();
  height: 220px;
  border-radius: 25px;
  @include abs.respond-to("small") {
    height: 110px;
  }

  &__h2 {
    @include abs.flex-row();
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 48px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 25px;
    background-color: rgba(abs.$black, 0.3);

    @include abs.respond-to("small") {
      font-size: 24px;
      font-weight: 500;
      justify-content: start;
      padding: 1em;
    }
  }
}

.smallBreak {
  display: none;
  @include abs.respond-to("small") {
    display: block;
  }
}
