@use "../abstracts/dir" as abs;

.rating {
  width: 196px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @include abs.respond-to("small") {
    width: 98px;
  }
  &__star {
    @include abs.respond-to("small") {
      width: 18px;
    }
  }
}
