@use "../abstracts/dir" as abs;

.slider {
  width: 100%;
  height: 415px;
  position: relative;
  z-index: 0;
  @include abs.respond-to("small") {
    height: 255px;
  }
  &__picture {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
    z-index: 0;
    @include abs.respond-to("small") {
      height: 255px;
    }
  }

  &__arrow {
    width: 100%;
    height: 415px;
    @include abs.flex-row();
    justify-content: space-between;
    position: absolute;
    top: 0;
    @include abs.respond-to("small") {
      height: 255px;
    }
    &-prev,
    &-next {
      position: absolute;
      z-index: 2;
      height: 100%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      &-img {
        @include abs.respond-to("small") {
          width: 24px;
        }
      }
    }

    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }

  &__counter {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: white;
    padding-bottom: 10px;
    @include abs.respond-to("small") {
      display: none;
    }
  }
}
